<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <script src=
        "https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="../static/css/style.css"
    />
    <title>Hybrid Lung Cancer Diagnosis</title>
    </head>
    <body>
    <header>
    <div class="container__categories">
        <div class="modal__container">
          <div class="modal-header">
            <h4 class="modal-title">Advanced lung cancer detection based hybrid AI techniques</h4>
          </div>
          <div class="alert-text">
            <p>
              Based on your entries, our algorithms came up with an early lung diagnosis.
              You should consult a lung professional before doing any recommended treatment.
            </p>
            <p>
              <strong
                >Keep in mind that this is an aid system. It do not replace any practitioners advice!</strong
            </p>
          </div>
        </div>
        <!--<ul class="categories-list" id="js-category-list">
          <li class="category-item">
            <button type="button" class="js-category-item active">
              <img src="../static/img/kebab.png" alt="kebab" />
              <span>Anything</span>
            </button>
          </li>
          <li class="category-item">
            <button type="button" class="js-category-item ">
              <img src="../static/img/broccoli.png" alt="broccoli" />
              <span>Vegetarian</span>
            </button>
          </li>
          <li class="category-item">
            <button type="button" class="js-category-item ">
              <img src="../static/img/radish.png" alt="radish" />
              <span>Vegan</span>
            </button>
          </li>
        </ul>-->

          <div class="nutrition-form">
            <div class="nutrition-form__above">
              <div class="modal-body">
                <div class="calculator-form">
                  <form action="/hybridpredict" method="POST" class="condensed-form" id="calculator_form">
                    <div class="form-group nutrition">
                      <div class="gender-wrap">
                        <label for="gender"> I am </label>
                      </div>
                      <div id="gender">
                        <div
                          class="btn-toolbar"
                          role="toolbar"
                          aria-label="Toolbar with button groups"
                        >
                          <div
                            id="gender-select"
                            class="btn-group mr-2"
                            role="group"
                            aria-label="First group"
                          >
                            <label
                              name="gender-m"
                              for="gender-0"
                              class="
                                btn
                                nutrition-selector-btn
                                btn-selector-secondary
                              "
                            >
                              <input
                                type="radio"
                                name="gender"
                                id="gender-0"
                                value="0"
                                required="required"
                              />
                              Male
                            </label>
                            <label
                              name="gender-f"
                              for="gender-1"
                              class="
                                btn
                                nutrition-selector-btn
                                btn-selector-secondary
                              "
                            >
                              <input
                                type="radio"
                                name="gender"
                                id="gender-1"
                                value="1"
                                required="required"
                              />
                              Female</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="age-input"> Age </label>
                      <div id="age-input">
                        <input
                          id="age"
                          class="form-control nutrition-text"
                          type="text" name="age"
                          required="required"
                        />
                        <label for="age" class="signup-input-label"
                          >years</label
                        >
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="height-input"> Fatigue </label>
                      <div id="height-input">
                        <input
                          id="height"
                          type="text"
                          name="height"
                          class="form-control nutrition-text"
                          required="required"
                        />
                        <label for="height" class="signup-input-label"
                          ></label
                        >
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="weight-input"> Chronic Disease </label>
                      <div id="weight-input">
                        <input
                          id="weight"
                          class="form-control nutrition-text"
                          type="text" name="weight"
                          required="required"
                        />
                        <label for="weight" class="signup-input-label"
                          ></label
                        >
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="neck-input"> Yellow Fingers </label>
                      <div id="neck-input">
                        <input
                          id="neck"
                          class="form-control nutrition-text"
                          type="text" name="neck"
                          required="required"
                        />
                        <label for="neck" class="signup-input-label"></label>
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="waist-input"> Anxiety </label>
                      <div id="waist-input">
                        <input
                          id="waist"
                          class="form-control nutrition-text"
                          type="text" name="waist"
                          required="required"
                        />
                        <label for="waist" class="signup-input-label"></label>
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="hip-input"> Peer Pressure </label>
                      <div id="hip-input">
                        <input
                          id="hip"
                          class="form-control nutrition-text"
                          type="text" name="hip"
                          required="required"
                        />
                        <label for="hip" class="signup-input-label"></label>
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="allergy-input"> Allergy </label>
                      <div id="allergy-input">
                        <input
                          id="allergy"
                          class="form-control nutrition-text"
                          type="text" name="allergy"
                          required="required"
                        />
                      </div>
                    </div>

                     <div class="form-group nutrition">
                      <label for="activity-level">Smoking</label>
                      <div id="activity-level">
                        <select
                          id="c59-activity-level"
                          class="form-control"
                          name="activity-level"
                        >
                          <option value="1" selected>Daily</option>
                          <option value="1">Regular Smokers</option>
                          <option value="0">Recently Inactive</option>
                          <option value="0">Inactive - Ex-smokers</option>
                          <option value="0">Never Smoked</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="body-type">Alcohol Consuming</label>
                      <div id="body-type">
                        <select
                          id="body-type"
                          type="text"
                          class="form-control"
                          name="body-type"
                        >
                          <option value="1" selected>Heavy Drinkers</option>
                          <option value="0">Once In A While</option>
                          <option value="0">Never</option>
                        </select>
                      </div>
                    </div>

                   <div class="form-group nutrition">
                      <label for="wheezing-input"> Wheezing </label>
                      <div id="wheezing-input">
                        <input
                          id="wheezing"
                          class="form-control nutrition-text"
                          type="text" name="wheezing"
                          required="required"
                        />
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="coughing-input"> Coughing </label>
                      <div id="coughing-input">
                        <input
                          id="coughing"
                          class="form-control nutrition-text"
                          type="text" name="coughing"
                          required="required"
                        />
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="shortness-input"> Shortness Of Breath </label>
                      <div id="shortness-input">
                        <input
                          id="shortness"
                          class="form-control nutrition-text"
                          type="text" name="shortness"
                          required="required"
                        />
                      </div>
                    </div>

                    <div class="form-group nutrition">
                      <label for="swallowing-input"> Swallowing Difficulty </label>
                      <div id="swallowing-input">
                        <input
                          id="swallowing"
                          class="form-control nutrition-text"
                          type="text" name="swallowing"
                          required="required"
                        />
                      </div>
                    </div>




                      <!--<div class="form-group nutrition">
                        <label for="weight-change-rate-input">
                          Weight change rate
                        </label>
                        <div id="weight-change-rate-input1">
                          <div class="gain-lose-label">Gain</div>
                          <div class="weight-input-field">
                            <input
                              id="weight-change-rate-input"
                              class="form-control"
                              type="number"
                              step="0.1"
                              min="0"
                              max="0.9"
                              name="weight-rate"
                              oninvalid="this.setCustomValidity('The CDC and health professionals strongly advise against weight changes of more than 0.9 kgs a week.')"
                            />
                          </div>
                          <div class="weight-units">kgs per week</div>
                        </div>
                      </div>
                      <small class="expected-goal-weight-date">
                        {{date_goal_print}}
                      </small>
                    </div>-->
                    <div class="calculate">
                      <button type="submit" name="action" class="btn calculate_btn">⚖ Diagnose</button>
                    </div>
                </div>
                <strong>{{ prediction_text }}</strong>
                  <!--<div class="result">
                    <h3 style="margin-top: 20px">Result</h3>
                    <table style="width:100%;">
                      <tr>
                        <th>Criteria</th>
                        <th>Value</th>
                        <th>Comment</th>
                      </tr>
                      <tr>
                        <td>BMI</td>
                        <td>{{ bmi }}</td>
                        <td>{{bmi_comment}}</td>
                      </tr>
                      <tr>
                        <td>Body fat</td>
                        <td>{{ bodyFat }}</td>
                        <td>{{comment}}</td>
                      </tr>
                      <tr>
                        <td>Protein</td>
                        <td>{{ protein }}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Carbohydrate</td>
                        <td>{{ cabohydrate }}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Fat</td>
                        <td>{{ fats }}</td>
                        <td></td>
                      </tr>
                    </table>
                  </div>-->

              </div>
            </div>
          </div>
      </div>
    <footer class="footer"></footer>

    <script
      type="text/javascript"
      src="../static/js/script.js"
    ></script>
    </header>
  </body>
</html>